:root {
    /*colors for sections*/
    --blue-green:#306897;
    --Darkblue:#166088;
    --nav:#C0D6DF;
    --text:#171C25;
    --Background:#3D6C9E;
}

/* body section (Everything in entire code's default) */
body {
  background:var(--text);
}
/* code for boxes */
#Header {
  background:var(--nav);
}

.All {
  padding: 2%;
  border: 5px groove var(--blue-green);
  background:var(--Darkblue);
  text-align:center;
  display:block;
}
section {
  border:5px black;
  font-size:25px;
  height:270px;
  background:var(--Background);
  
  
}

/*Code for top Nav bar*/
#top-nav {  
  background:var(--nav);
}
ul {
  list-style: none;
}
li {
  display: inline-block;
  color:#171C25;
  padding: 2%;
  
}
/*end of code for top nav*/


/* code for bottom Nav bar */
#bottom-nav{
  border: 5px groove var(--blue-green);
  bottom:1px;
  text-align:center;
  background:var(--nav);
}
/*end of code for bottom nav*/
